---
import { Image } from "astro:assets";

interface Props {
  duration: string;
  jobTitle: string;
  companyName: string;
  companyDescription: string;
  companyLogo: IImage;
  hexRGBColor: string;
  href: string;
  animationReversed?: boolean;
}

const {
  duration,
  companyName,
  jobTitle,
  companyDescription,
  companyLogo,
  hexRGBColor,
  href,
  animationReversed = false
} = Astro.props;
---

<div class="card">
  <div class="card__date__wrapper">
    <div data-animation="zoom-in" class="hexagon__wrapper">
      <div class="hexagon hexagon--colored">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
          <path
            d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"
          ></path>
        </svg>
      </div>
      <div class="hexagon hexagon--white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
          <path
            d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"
          ></path>
        </svg>
      </div>
    </div>
    <section
      data-animation={animationReversed ? "fade-in-left" : "fade-in-right"}
      class="card__date__container"
    >
      <h4
        class="card__date"
      >
        {duration}
      </h4>
    </section>
  </div>
  <section
    data-animation={animationReversed ? "fade-in-right" : "fade-in-left"}
    class="card__content__container"
  >
    <div
      class="card__content"
    >
      <Image src={companyLogo.src} alt={companyLogo.alt} width={70} height={70} />
      <h5>
        {jobTitle}
      </h5>
      <span>
        {companyName}
        <span>
          ( {duration} )
        </span>
      </span>
      <p>
        {companyDescription}
      </p>
      <a href={href}>Read More</a>
    </div>
  </section>
</div>

<style lang="scss" define:vars={{ hexRGBColor }}>
  $slate-500: #64748b;
  $slate-700: #334155;
  $sky-600: #0284c7;
  $gray-500: #6b7280;
  $gray-600: #4b5563;


  @keyframes pulse_hexagon {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse_hexagon_active {
    0% {
      transform: scale(1.5);
    }
    30% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  .hexagon {
    position: absolute;
    top: 0;
    z-index: -10;
    height: 1.5rem;
    width: 1.25rem;
    transition-duration: 0.7s;
    &__wrapper {
      animation-duration: 1s;
      animation-delay: 0.3s;
    }

    &--colored {
      position: relative;
      z-index: 0;
      svg {
        fill: rgb(var(--hexRGBColor));
      }
    }
    
    &--white svg {
      fill: white;
      filter: drop-shadow(1px 1.5px 5px rgba(var(--hexRGBColor), 0.3));
    }
  }

  .card {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    &__content__container, &__date__container {
      animation-duration: 0.5s;
      animation-delay: 0.6s;
      height: fit-content;
      width: fit-content;
    }
    &__content {
      left: 0.625rem;
      position: relative;
      padding: 1.5rem 2rem;
      width: 100%;
      max-width: 21.25rem;
      box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
      transition-duration: 0.5s;
      overflow: hidden;
      border-radius: 0.25rem;
      background-color: white;
      height: 21rem;
      &__container {
        @include media("md", "~sm") {
          width: calc(100%  - 7rem);
          display: flex;
          justify-content: center;
          animation-duration: 0.4s;
        }
        @include media("sm") {
          width: 100%;
          display: flex;
          justify-content: center
        }
      }
      h5 {
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: $slate-700;
        white-space: nowrap;
      }
      span {
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $gray-500;
        span {
          margin-left: 0.5rem;
          font-size: 0.75rem;
          line-height: 1rem;
          display: none;
          @include media("sm") {
            display: revert;
          }
        }
      }
      p {
        line-height: 1.75rem;
        color: $gray-600;
      }
      a {
        text-decoration: underline;
        color: $sky-600;
        position: absolute;
        bottom: 1.5rem;
      }
      img {
        padding-bottom: 2rem;
        margin: auto;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: 10;
        width: 0.25rem;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        @include media("md") {
          left: 0 !important;
          right: auto !important;
        }
      }
      @include media("lg", "~md") {
        max-width: 19rem;
        padding: 1.7rem 1rem;
      }
      @include media("md", "~sm") {
        text-align: left;
        transform: revert;
        margin: 0 auto 1rem auto;
        left: 0 !important;
      }
      @include media("sm") {
        margin-bottom: 0.625rem;
        left: 0 !important;
      }
    }
    &__date {
      position: absolute;
      top: -1.6rem;
      right: 100%;
      padding-right: 3.625rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 700;
      white-space: nowrap;
      transition-duration: 0.3s;
      color: $slate-500;
      &__wrapper {
        position: relative;
        z-index: 10;
        margin-left: calc(50% - 0.625rem);
        margin-right: 3rem;
        @include media("md", "~sm") {
          margin-left: 2.1875rem !important;
          margin-right: 0 !important;
        }
        @include media("sm") {
          display: none;
        }
      }
      @include media("md") {
        width: 100%;
        padding: 0 !important;
        right: 100 !important;
        left: auto !important;
        transform-origin: top;
        transform: translate(2.8rem, 3.7rem) rotate3d(0, 0, 1, -90deg) !important;
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .card__content {
        position: relative;
        left: -1.25rem;
      }
      .card__date {
        right: auto;
        left: 100%;
        padding-left: 3.625rem;
        padding-right: 0;
        &__wrapper {
          margin-right: calc(50% - 0.625rem);
          margin-left: 3rem;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      .card__content {
        transform: translateX(-1.25rem);
        background-color: white;
        @include media("md") {
          transform: translateX(0) !important;
        }
      }
      .card__date {
        transform: translateX(1.25rem);
      }
      .hexagon:nth-child(2) {
        animation: pulse_hexagon 2s infinite;
      }
      &:nth-child(even) {
        .card__content {
          transform: translateX(1.25rem);
        }
        .card__date {
          transform: translateX(-1.25rem);
        }
      }
    }
    @include media("md") {
      flex-direction: row !important;
    }
  }
</style>
