---
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "../SectionTitle.astro";
import ViewMore from "../ViewMore.astro";

// #FIXME
interface Props {
  id: string;
}

const { id } = Astro.props;

const projects = [
  {
    title: "Online Cafe",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo temporibus velit ipsa et quidem repellat aut vitae, incidunt laboriosam voluptates eveniet odio officiis veritatis libero eius molestiae alias nemo ea.",
    image: {
      src: "https://tamalsen.dev/wp-content/uploads/2021/10/walkerip-com-poster.jpg",
      alt: "Online Cafe"
    },
    technologies: ["Vue", "Material UI", "Vuex"],
    links: {
      github: "#",
      liveDemo: "#"
    }
  },
  {
    title: "Online Cafe",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo temporibus velit ipsa et quidem repellat aut vitae, incidunt laboriosam voluptates eveniet odio officiis veritatis libero eius molestiae alias nemo ea.",
    image: {
      src: "https://tamalsen.dev/wp-content/uploads/2021/10/walkerip-com-poster.jpg",
      alt: "Online Cafe"
    },
    technologies: ["Vue", "Material UI", "Vuex"],
    links: {
      github: "#",
      liveDemo: "#"
    }
  },
  {
    title: "Online Cafe",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo temporibus velit ipsa et quidem repellat aut vitae, incidunt laboriosam voluptates eveniet odio officiis veritatis libero eius molestiae alias nemo ea.",
    image: {
      src: "https://tamalsen.dev/wp-content/uploads/2021/10/walkerip-com-poster.jpg",
      alt: "Online Cafe"
    },
    technologies: ["Vue", "Material UI", "Vuex"],
    links: {
      github: "#",
      liveDemo: "#"
    }
  }
];
---

<div id={id}>
  <SectionTitle title="Projects" />
  <p class="description" data-animation="fade-in-down">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quam dicta
    dignissimos, quibusdam itaque facere ipsum aperiam assumenda, nisi ut modi
    ducimus nulla quo earum quod aut dolor recusandae. Facilis!
  </p>

  {
    projects.map((project, index) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        image={project.image}
        technologies={project.technologies}
        links={project.links}
      />
    ))
  }
  <ViewMore title="View All Projects" href="#" />
</div>

<style lang="scss">
  .description {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    text-align: center;
    margin: auto;
    padding: 0 2rem 5rem 2rem;
    max-width: 46.875rem;
    color: $slate-600;
    @include media("md") {
      width: fit-content;
      padding: 0 1rem 4rem 1rem;
    }
    @include media("sm") {
      padding-bottom: 2.5rem;
    }
  }
</style>
