---
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "../SectionTitle.astro";
import ViewMore from "../ViewMore.astro";
import FabiziImage from "@images/projects/fabizi.png";
import LinkToMenuImage from "@images/projects/link-to-menu.png";
import PortfolioImage from "@images/projects/portfolio.png";

// #FIXME
interface Props {
  id: string;
}

const { id } = Astro.props;

const projects = [
  {
    title: "Fabizi | RMS",
    description:
      "As a key contributor, I played a major role in modernizing its architecture by introducing a domain-driven design and replacing the state management with global composables. These changes cut the development-to-production cycle by 50% and reduced bugs by 30%, making the app more reliable and developer-friendly.",
    image: {
      src: FabiziImage,
      alt: "Fabizi | RMS"
    },
    technologies: ["Vue", "Vuetify", "Nuxt", "VueQuery"],
    links: {
      liveDemo: "https://www.fabizi.com/"
    }
  },
  {
    title: "Link to Menu",
    description:
      "I contributed to the development of Link to Menu, a link tree-like app designed for restaurants. By using Strapi as a headless CMS and Astro as the main stack, we built the service in under a week, achieving excellent performance, scalability, and an SEO-friendly website.",
    image: {
      src: LinkToMenuImage,
      alt: "Link to Menu"
    },
    technologies: ["TypeScript", "Astro", "Strapi", "Vue"],
    links: {
      liveDemo: "https://linkto.menu/"
    }
  },
  {
    title: "My Own Personal Portfolio",
    description:
      "Yes, I’m also including this website here! The code is available on my GitHub, so you can take a look at how everything is built. Feel free to explore, and I’d love to hear any feedback you have. thanks :)",
    image: {
      src: PortfolioImage,
      alt: "Personal CV website"
    },
    technologies: ["Astro", "TypeScript", "HTML", "SCSS"],
    links: {
      github: "https://github.com/bamdadsabet/bamdadsabet.com",
    }
  }
];
---

<div id={id}>
  <SectionTitle title="Projects" />
  <p class="description" data-animation="fade-in-down">
    This is a collection of personal projects and collaborative work that I’ve contributed to as part of a team. Each project highlights different aspects of web development
  </p>

  {
    projects.map((project) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        image={project.image}
        technologies={project.technologies}
        links={project.links}
      />
    ))
  }
  <ViewMore title="View My Github" href="https://github.com/bamdadsabet" />
</div>

<style lang="scss">
  .description {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    text-align: center;
    margin: auto;
    padding: 0 2rem 5rem 2rem;
    max-width: 46.875rem;
    color: $slate-600;
    @include media("md") {
      width: fit-content;
      padding: 0 1rem 4rem 1rem;
    }
    @include media("sm") {
      padding-bottom: 2.5rem;
    }
  }
</style>
